$root: '.SelectAddress';

#{$root} {
  padding-top: 60px;
  &-title {
    margin-bottom: 40px;
  }
  &-addressList {
    .RadioButton {
      margin-bottom: 24px;
      &:last-child {
        margin-bottom: 32px;
      }
    }
  }
  &-addAddress {
    margin-bottom: 32px;
  }
}
