$root: '.Button';

#{$root} {
  border-radius: 10px;
  border: none;
  &-primary {
    background-color: black;
    border-radius: 20px;
    padding: 14px 0;
    color: #fff;
    font-size: 24px;
  }
  &-secondary,
  &-ternary {
    border-radius: 5px;
    padding: 12px 0;
    font-size: 20px;
  }
  &-secondary {
    background-color: black;
    color: #fff;
  }
  &-ternary {
    background-color: #ebebeb;
    color: #000;
  }
  &-width-full {
    width: 100%;
  }
  &-width-limit {
    width: 300px;
  }
  &-isCenter {
    margin: 0 auto;
  }
}
