$root: '.Button';

#{$root} {
  border-radius: 10px;
  &-primary {
    background-color: black;
    border: none;
    border-radius: 20px;
    padding: 14px 0;
    color: #fff;
    font-size: 24px;
  }
  &-width-full {
    width: 100%;
  }
}
