$root: '.ThankYou';

#{$root} {
  height: calc(100vh - 72px - 53px);
  margin-bottom: -72px;
  img {
    width: 120px;
    height: 120px;
    margin-bottom: 32px;
  }
  &-message {
    font-size: 32px;
    margin-bottom: 32px;
  }
}
