$root: '.Header';

#{$root} {
  padding: 20px 48px;
  border-bottom: 1px solid #ccc;

  &-left {
    &__title {
      font-size: 28px;
      font-weight: bold;
    }
  }

  &-right {
    &__name,
    &__link {
      font-size: 20px;
    }
  }
}
