$root: '.Input';

#{$root} {
  &-label {
    font-size: 14px;
    margin-bottom: 8px;
  }
  &-inputArea {
    border: 1px solid #000;
    border-radius: 10px;
    height: 48px;
    font-size: 20px;
    padding: 0 16px;
    &:focus {
      outline: 0;
      box-shadow: 0 0 5px #000;
    }
  }
}
